{% extends "layout.html" %}

{% block content %}

<div class="index-container">
    <div class="row">
        <div class="welcome">
            <h1>
                Friends2Game
            </h1>
            <p>
                Twoje miejsce, gdzie pasja do gier spotyka sie z towarzystwem. Nasza platforma laczy ludzi, ktorzy kochaja gamming i szukaja partnera do wspolnych sesji. Dzieki naszej innowacyjnej technologii, dopasowujemy Cie z osobami, ktore dziela Twoje zainteresowania gamingowe.
            </p>
            <a href="{{url_for('user_profile')}}" class="button">Zaczynajmy</a>
        </div>
    </div>
</div>
<style>
    .xd {
        width: 70%;
        height: 70%;
        margin-top: 30px;
        margin-bottom: 3px;
        border: 3px solid white;
        border-radius: 30px;
    }
</style>
<!--how-it-works-->
<div class="how-it-works">
    <h2 class="title">Jak to dzia&#322;a?</h2>
    <div class="small-container">
        <div class="col-1">
            <img src="###" alt="###" class="xd">
            <p>Dostosuj Swoje preferencje gamingowe</p>
        </div>
        <div class="col-1">
            <img src="###" alt="###" class="xd">
            <p>Znajd&#378; odpowiedniego partnera</p>
        </div>
        <div class="col-1">
            <img src="###" alt="###" class="xd">
            <p>Czatuj i planuj trening</p>
        </div>
    </div>

    <!--gaming-category-->
    <!--<div class="sport-category">
        <h2 class="title">Gry</h2>
        <div class="small-container">
            <div class="row">
                <div class="col-6">
                    <div class="main-circle">
                        <i class="fas fa-futbol"></i>
                        <p>Pi&#322;ka no&#380;na</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="main-circle">
                        <i class="fas fa-dumbbell"></i>
                        <p>Si&#322;ownia</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="main-circle">
                        <i class="fas fa-running"></i>
                        <p>Bieganie</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="main-circle">
                        <i class="fas fa-swimmer"></i>
                        <p>P&#322;ywanie</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="main-circle">
                        <i class="fas fa-person-walking"></i>
                        <p>Spacer</p>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>

<!--opinions-->
<div class="opinions">
    <h2 class="title">Co m&#243;wi&#261; o nas inni?</h2>
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <p>"Dzi&eacute;ki tej stronie moje sesyjki sta&#322;y sie bardziej urozmaicone i efektywne."</p>
                <img src="../static/img/jayce.jpg" alt="">
                <h3>Jakub</h3>
            </div>
            <div class="col-3">
                <p>
                    "Strona sprawi&#322;a, &#378;e granie sta&#322;o si&#281; dla mnie prawdziw&#261; przyjemno&#347;ci&#261;. Dzi&#281;ki r&#243;&#378;norodnym kategoria i
                    interaktywnym funkcjom, utrzymanie formy na wysokim poziomie jest teraz znacznie &#322;atwiejsze"
                </p>
                <img src="../static/img/viktor.jpg" alt="">
                <h3>Tomasz</h3>
            </div>
            <div class="col-3">
                <p>
                    "Strona zmienila moje podej&#347;cie do grania z randomami, sprawiaj&#261;c, &#378;e gra mi lepiej i przyjemniej ni&#378;
                    kiedykolwiek wcze&#347;niej"
                </p>
                <img src="../static/img/jinx.jpg" alt="">
                <h3>Ania</h3>
            </div>
        </div>
    </div>
</div>

{% endblock %}
